html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header {
    padding-top: 20px;
    padding-left: 80px;
    padding-bottom: 20px;
    padding-right: 80px;
    height: 40px;
}
.box a {
    color: rgba(0, 0, 0, 1);    
    font-family: 'Segoe UI';
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    width: 102px;
    height: 38px;
    float: right;
}
.logo {
    height: 40px;
}
.banner {
    width: 100%;
}
.logoo {
    width: 50%;
    float: left;
}
.menu {
    display: flex;
    justify-content: flex-end;
}
.container {
    max-width: 1443px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.col4{
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
}
.card {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 6px;
    border-radius: .3rem;
    transition: all 350ms ease-out;
    
}  
.card:hover {
    box-shadow: 3px 3px 20px rgba(0,0,0,.2);
    transform: translate(0,-10px);
    -webkit-transition: all 350ms ease-out;
}
.detail {
    text-align: center;
    padding: 15px;
}
.detail div h2 {
    margin-top: 33px;
    font-family: 'Segoe UI';
    font-size: 24px;
    font-weight: bold;
}
.detail > div > h3 {
    margin-top: 14px;
    font-family: 'Segoe UI';
    font-size: 16px;
    color: rgba(93, 93, 93, 1)
}
.detail > div > p {
    font-family: 'Segoe UI';
    font-size: 16px;
    line-height: 24.94px;
}
.paragraph {
    margin-top: 24px;
}
.readmore {
    margin-top: 27px;
    text-align: center;
}
.readmore a img {
    margin-bottom: 20px;   
}
.topimage img {
    display: block;
    max-width: 100%;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.showmore {
    text-align: center;
    margin-bottom: 101px;
    margin-top: 100px;
    cursor: pointer;
}
.follow {
    background-color: rgba(51, 51, 51, 1);
    height: 532px;
    padding-bottom: 30px;
}
.end {
    background-color: rgba(226, 55, 61, 1);
    height: 183px;
}
.logowhite {
    display: block;
    padding-top: 36px;
    text-align: center;
}
.text {
    margin-top: 20px;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 15px;
    color: white;
}
.black-part {
    display: flex;
    flex-wrap: wrap;
    max-width: 1206px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 49px;
    justify-content: center;
}
.redtitle {
    font-family: 'Segoe UI';
    font-size: 24px;
    font-weight: bold;
    color: rgba(226, 55, 61, 1);
}
.social-media-logo > a {
    padding-right: 25px;
}
.continent {
    display: flex;
    flex-wrap: nowrap;
}
.continent > div {
    margin-right: 56px;
    text-align: left;
    width: 25%;
    box-sizing: border-box;
}
.continent div ul li a {
    font-family: 'Segoe UI';
    font-size: 15px;
    color: hsl(0, 0%, 35%);
    line-height: 18px;
}
.continent div ul li h2 {
    font-family: 'Segoe UI';
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 21px;
}
.continent div ul li a h3 {
    font-family: 'Segoe UI';
    font-size: 15px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 13px;
    margin-top: 24px;
}
.customer-care div ul li a {
    font-family: 'Segoe UI';
    font-size: 15px;
    color: hsl(0, 0%, 35%);
    line-height: 18px;
}
.customer-care > div {
    margin-bottom: 47px;
}
.redtitle {
    margin-bottom: 24px;
}
.follow-us {
    width: 20%;
}
.container > h2 {
    font-family: 'Segoe UI';
    font-size: 40px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    padding: 20px;
    margin-bottom: 35px;
}
.centercontent {
    max-width: 1016px;
    margin-left: auto;  
    margin-right: auto;
    padding-top: 30px;
}
.centercontent a  {
    font-family: 'Segoe UI';
    font-size: 20px;
    color: rgba(227, 58, 62, 1);
    text-align: left;
}
.centercontent > h4 {
    font-family: 'Segoe UI';
    font-size: 20px;
    color: rgba(159, 157, 157, 1);
    text-align: right;
    margin-bottom: 45px;
}
.centercontent > h3 {
    font-family: 'Segoe UI';
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    margin-bottom: 30px;
    margin-top: 70px;
}
.centercontent > p {
    font-family: 'Segoe UI';
    font-size: 25px;
    color: rgba(78, 78, 78, 1);
    text-align: left;
    margin-bottom: 45px;
}
.centercontent > div {
    text-align: right;
    margin-top: 180px;
}
.centercontent  div a img {
    margin-left: 10px;
}
.centercontent > img {
    width: 100%;
}
a {
    text-decoration : none
}

.row .col4:nth-child(n+4) {
    display:none;
}