{% extends "template.html" %}
{% load static %}

{% block head%}
    <title>{{ blog.post_title }}</title> 
{% endblock %}

    {% block body %}
        <div class="centercontent">
            <a href="{% url 'index' %}">< Back</a>
            <h4>{{ blog.create_at }} | By {{ blog.user}}</h4>
            <img src="{{blog.post_feature_image.url}}" alt="">
            <h3>{{ blog.post_title }}</h3>
            <p>
                {{ blog.post_content }}
            </p>
            <div>
                <a href="https://www.facebook.com/muaythaiokay">
                    <img src="{% static "/img/f.png" %}">
                </a>
                <a href="https://twitter.com/muaythaiokay">
                    <img src="{% static "/img/twt.png" %}">
                </a>
                <a href="https://www.instagram.com/muaythaiokay/">
                    <img src="{% static "/img/igr.png" %}">
                </a> 
            </div>
        </div>
        <div class="container">
            <h2>Related Articles</h2>
            <div class="row">
                {% for b in blogs %}
                    <div class="col4">
                        <div class="card">
                            <div class="topimage">
                                <img src="{{b.post_feature_image.url}}" alt="">
                            </div>
                            <div class="detail">
                                <div>
                                    <h2>{{ b.post_title }}</h2>    
                                </div>
                                <div>
                                    <h3>{{ b.create_at }} | By {{ b.user}}</h3>
                                </div>
                                <div class="paragraph">
                                    <p>{{ b.post_excerpt }}</p>
                                </div> 
                            </div>
                            <div class="readmore">
                                <a href="{% url 'blogid' b.id %}">
                                    <img src="{% static "/img/btt-read-more-2.png" %}">
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>>
        </div>
    {% endblock %}