{% extends "template.html" %}
{% load static %}
{% block body %}
    <div class="container">
        <div class="row">
            {% for blog in blogs %} 
                {% if blog.post_status == "P" %}
                    <div class="col4">
                        <div class="card">
                            <div class="topimage">
                                <img src="{{blog.post_feature_image.url}}" alt="">
                            </div>
                            <div class="detail">
                                <div>
                                    <h2>{{ blog.post_title }}</h2>    
                                </div>
                                <div>
                                    <h3>{{ blog.create_at }} | By {{ blog.user}}</h3>
                                </div>
                                <div class="paragraph">
                                    <p>{{ blog.post_excerpt }}</p>
                                </div> 
                            </div>
                            <div class="readmore">
                                <a href="{% url 'blogid' blog.id %}">
                                    <img src="{% static "/img/btt-read-more-2.png" %}">
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>     
    <div class="showmore">
            <img src="{% static "/img/btt-showmore.png" %}" alt="">
    </div>  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
            $(function () {
            $(".row .col4").slice(0, 6).show();
            $(".showmore").on('click', function (e) {
            e.preventDefault();
                $(".row .col4:hidden").slice(0, 10).slideDown();
                if ($(".row .col4:hidden").length == 0) {
                    $(".showmore").fadeOut('slow');
                }
            });
            });
    </script>

{% endblock %} 