{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "/css/styles1.css" %}">
</head>
<body>
    <div class="header">
        <div class="logoo">
            <a href="{% url 'index' %}">
                <img src="{% static "/img/mtok-logo-color.png" %}" alt="logo" class="logo">
            </a>
        </div>
        <div class="menu">   
            <div class="box">
                <a href="/">About Us</a>
            </div> 
            <div class="box">
                <a href="/">Sign In</a>
            </div> 
            <div class="box">
                <a href="/">
                    <img src="{% static "/img/sign-up-but.png" %}" alt="">
                </a>
            </div> 
        </div>
    </div>
    <img src="{% static "/img/cover.png" %}" alt="banner" class ="banner"> 

    {% block body %}
    {% endblock %}    

    <div class="follow">
        <div class="black-part">
            <div class="follow-us">
                <h2 class="redtitle">Follow US</h2>
                <div class="social-media-logo">
                    <a href="https://www.facebook.com/muaythaiokay">
                        <img src="{% static "/img/06-facebook-512.png" %}" alt="FB">
                    </a>
                    <a href="https://twitter.com/muaythaiokay">
                        <img src="{% static "/img/ig.png" %}" alt="IG">
                    </a>
                    <a href="https://www.instagram.com/muaythaiokay/">
                        <img src="{% static "/img/twitter.png" %}" alt="TWT">
                    </a>                   
                </div>
            </div>
            <div class="popular-destination">
                    <h2 class="redtitle">Popular Destinations</h2>
                    <div class="continent">
                        <div>
                            <ul>
                                <li>
                                    <h2>Asia</h2>
                                </li>
                                <li>
                                    <a href="/"><h3>Thailand</h3></a>
                                </li>
                                <li>
                                    <a href="/">Bangkok</a>
                                </li>
                                <li>
                                    <a href="/">Phuket</a>
                                </li>
                                <li>
                                    <a href="/">Chiang Mai</a>
                                </li>
                                <li>
                                    <a href="/">Pattaya</a>
                                </li>
                                <li>
                                    <a href="/">Ko Samui</a>     
                                </li>
                                <li>
                                    <a href="/">Krabi</a>
                                </li>
                                <li>
                                    <a href="/">Lampang</a>
                                </li>
                                <li>
                                    <a href="/">Surat Thani</a>
                                </li>
                                <li>
                                    <a href="/">Pai</a>
                                </li>
                                <li>
                                    <a href="/">Khao Lak</a>
                                </li>
                                <li>
                                    <a href="/">Rayong</a>
                                </li>
                                <li>
                                    <a href="/">Hua Hin</a>
                                </li>
                                <li>
                                    <a href="/">Chiang Rai</a>
                                </li>
                                <li>
                                    <a href="/">Hat Yai</a>
                                </li>
                                <li>
                                    <a href="/"><h3>Taiwan</h3></a>
                                </li>
                                <li>
                                    <a href="/">Taipei</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <h2>Europe</h2>
                                </li>
                                <li>
                                    <a href="/"><h3>Germany</h3></a>
                                </li>
                                <li>
                                    <a href="/">Berlin</a>
                                </li>
                                <li>
                                    <a href="/"><h3>Italy</h3></a>
                                </li>
                                <li>
                                    <a href="/">Rome</a>
                                </li>
                            </ul> 
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <h2>Oceania</h2>
                                </li>
                                <li>
                                    <a href="/"><h3>Newzealand</h3></a>
                                </li>
                                <li>
                                    <a href="/">Auckland</a>
                                </li>
                                <li>
                                    <a href="/"><h3>Australia</h3></a>
                                </li>
                                <li>
                                    <a href="/">Sydney</a>
                                </li>
                            </ul>                            
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <h2>America</h2>
                                </li>
                                <li>
                                    <a href="/"><h3>Canada</h3></a>
                                </li>
                                <li>
                                    <a href="/">Toronto</a>
                                </li>
                            </ul>                                     
                        </div>
                    </div>
            </div>
            <div class="customer-care">
                    <h2 class="redtitle">Customer Care</h2>
                    <div>
                        <ul>
                            <li>
                                <a href="/">About<a>
                            </li>
                            <li>
                                <a href="/">How it Works<a>
                            </li>
                            <li>
                                <a href="/">FAQ<a>
                            </li>
                            <li>
                                <a href="/">Privacy<a>
                            </li>
                            <li>
                                <a href="/">Terms and condition<a>
                            </li>
                            <li>
                                <a href="/">Contact<a>
                            </li>
                            <li>
                                <a href="/">Careers<a>
                            </li>
                            <li>
                                <a href="/">Site Map<a>
                            </li>
                        </ul>              
                    </div>
                    <h2 class="redtitle">Partnerships</h2>
                    <div>      
                        <ul>
                            <li>
                                <a href="/">Benefits<a>
                            </li>
                            <li>
                                <a href="/">Partner with us<a>
                            </li>
                            <li>
                                <a href="/">Partner Sign-up<a>
                            </li>
                            <li>
                                <a href="/">Travel Agents<a>
                            </li>
                        </ul>
                    </div>

            </div>
        </div>

    </div>   
    <div class="end">
        <div class="logowhite">
            <img src="{% static "/img/logo-with-text-white.png" %}">
        </div>
        <div class="text">
            <p>Copyright 2017 © MuayThaiOK</p>
        </div>
    </div>
</body>
</html>